  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bootstrap css -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <!-- custom styles -->
    <link type="text/css" rel="stylesheet" href="styles/style.css">

    <title>Member Profile</title>

  </head>
  <body width="1024" height="273">

    <!-- header -->
      <div class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Adventure Athletes</a>
          </div>  

        <!-- <center> -->
          <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" id="nav-links">
          <!-- log out -->
       <!--    <form class="navbar-form navbar-right" method="get" action="/logout">

              <button type="submit" class="btn btn-default">Log Out</button> -->
             <!--  <input id="logout" type="submit" class="btn btn-success" value="Log Out"> -->
          </div>
        </div>
       <!--  </center> -->
      </div>

    <!-- data from nav-template goes here -->
           <script type="text/template" id="nav-template">
            <% if (currentMember) { %>

              <li><a href="/profile">Profile</a></li>
              <li><a href="/logout">Log Out</a></li>
            <% } else { %>
              <li><a href="#" data-toggle="modal" data-target="#signup-modal">Sign Up</a></li>
              <li><a href="#" data-toggle="modal" data-target="#login-modal">Log In</a></li>
            <% } %>
          </script>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->

 <div class="container-fluid">
      <h1>Bay Area Adventure Athletes</h1>
      <p>Mountaineer training group: train for the outdoors in the outdoors.</p>
    </div>
  </div>

  <div class="container-fluid">
      <div><a href="https://imgur.com/rgSf1h3"><img src="http://i.imgur.com/rgSf1h3.jpg?1" title="source: imgur.com" class="displayphoto"/></a>
      </div>
  </div>

<div class= "container" >
  <div class = "row">
    <div id= "profile-info">
    </div>
  </div>
</div>

<!-- footer -->
    <div class="well">
      <div class="container">
        <footer class ="site-footer"></footer>
      </div>
    </div>
  </div>


    <!-- jquery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

    <!-- bootstrap js -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- underscore -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <!-- custom scripts -->
    <script type="text/javascript" src="scripts/main.js"></script>
    <script type="text/javascript" src="scripts/profile.js"></script>
    <script type="text/javascript" src="scripts/posts.js"></script>
    <script type="text/javascript" src="scripts/profileTemplate.js"></script>

     <!-- underscore template -->
  <script type="text/template" id="profile-template">
  <% if (currentMember) { %>

    <li class="list-group-item member" id="profile-info-<%= _id %>" data-id="<%= _id %>">

  
    <!-- profile-info -->
       <p><b> First Name: </b><%= firstName %> </p>
        <p><b> Last Name: <%= lastName %> </p>
        <p><b> Email </b><%= email %></p>
       <p> About </b><%= about %></p>

        <% } %>

        </script>

      

  </body>
  </html>