          #trainingTimeline{
            width:925px;
          }
        
          #trainingSchedule{
            width:958px;
            border-right: 1px solid #ccc;
          }

          #trainingSchedule td {
            border-top:1px solid #ccc;
            border-bottom:1px solid #ccc;
            border-left:1px solid #ccc;
            vertical-align: top;
            padding:0;
            
          }
          
          #trainingSchedule td p{
            padding:10px;
            margin:0;
          }
          
          #trainingSchedule td p.tHeader{
            background:#083459;
            color:#fff;
            padding:5px 10px;
            margin:0;
          }
